In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.DataFrame({
    'color': ['red', 'green', 'blue', 'green', 'blue', 'blue', 'red', 'green']
})

In [4]:
df

   color
0    red
1  green
2   blue
3  green
4   blue
5   blue
6    red
7  green

In [9]:
ohe_encoder = OneHotEncoder()

In [11]:

color_ohe_encoded = ohe_encoder.fit_transform(df[['color']]).toarray()

encoded_df = pd.DataFrame(color_ohe_encoded, columns=ohe_encoder.get_feature_names_out(['color']))

In [12]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         0.0          1.0        0.0
4         1.0          0.0        0.0
5         1.0          0.0        0.0
6         0.0          0.0        1.0
7         0.0          1.0        0.0

In [13]:
ohe_encoder.transform([['blue']]).toarray()

/Users/satviksawhney/Downloads/AIML/Krish Naik/.venv/lib/python3.12/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
lbl_encoder = LabelEncoder()

In [16]:
lbl_encoded = lbl_encoder.fit_transform(df[['color']])

/Users/satviksawhney/Downloads/AIML/Krish Naik/.venv/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [17]:
lbl_encoded

array([2, 1, 0, 1, 0, 0, 2, 1])

In [18]:
lbl_encoder.transform([['blue']])

/Users/satviksawhney/Downloads/AIML/Krish Naik/.venv/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [19]:
lbl_encoder.transform([['green']])

/Users/satviksawhney/Downloads/AIML/Krish Naik/.venv/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

In [20]:
lbl_encoder.transform([['red']])

/Users/satviksawhney/Downloads/AIML/Krish Naik/.venv/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [23]:
from sklearn.preprocessing import OrdinalEncoder

In [35]:
sizes = pd.DataFrame({
    'sizes' : ['small', 'medium', 'large', 'small']
})

In [32]:
sizes

    sizes
0   small
1  medium
2   large
3   small

In [36]:
oe_encoder = OrdinalEncoder(categories=[['small', 'medium', 'large']])

In [37]:
oe_encoded = oe_encoder.fit_transform(sizes[['sizes']])

In [38]:
oe_encoded

array([[0.],
       [1.],
       [2.],
       [0.]])

In [39]:
city_df = pd.DataFrame({
    'city':['New York', 'London', 'Paris', 'Tokyo', 'New York', 'Paris'],
    'price':[200, 150, 300, 250, 180, 320]
})

In [41]:
city_df

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180
5     Paris    320

In [42]:
mean_price = city_df.groupby('city')['price'].mean().to_dict()

In [43]:
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [45]:
city_df['city_encoded'] = city_df['city'].map(mean_price)

In [46]:
city_df

       city  price  city_encoded
0  New York    200         190.0
1    London    150         150.0
2     Paris    300         310.0
3     Tokyo    250         250.0
4  New York    180         190.0
5     Paris    320         310.0