## SQLite 
SQLite is a self contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('./example.db')

In [3]:
connection

In [4]:
cursor = connection.cursor()

In [6]:
# Creating tables

cursor.execute('''
CREATE TABLE IF NOT EXISTS employee(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
)
''') 

connection.commit()

In [7]:
# Inserting data into tables

cursor.execute('''
INSERT INTO employee (name, age, department)
VALUES ('Satvik',19,'CS')
''')

cursor.execute('''
INSERT INTO employee (name, age, department)
VALUES ('Ishita',20,'Design')
''')

cursor.execute('''
INSERT INTO employee (name, age, department)
VALUES ('Rajni',50,'Head')
''')

connection.commit()

In [12]:
# Fetching data

cursor.execute('SELECT * FROM employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Satvik', 19, 'CS')
(2, 'Ishita', 20, 'Design')
(3, 'Rajni', 50, 'Head')

In [14]:
# Update the data

cursor.execute('''
 UPDATE employee
 SET AGE=20
 WHERE NAME='Satvik'              
''')

connection.commit()

In [15]:
# Fetching data

cursor.execute('SELECT * FROM employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Satvik', 20, 'CS')
(2, 'Ishita', 20, 'Design')
(3, 'Rajni', 50, 'Head')

In [16]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''') 

connection.commit()

In [17]:
sales_data = [
    ('2024-01-01', 'Product1', 100, 'North'),
    ('2024-01-02', 'Product2', 200, 'South'),
    ('2024-01-03', 'Product3', 150, 'West'),
    ('2024-01-04', 'Product4', 400, 'East'),
    ('2024-01-05', 'Product5', 350, 'North')
]

cursor.executemany('''
    INSERT INTO sales(date, product, sales, region)
    VALUES(?,?,?,?) 
''', sales_data)

connection.commit()

In [18]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2024-01-01', 'Product1', 100, 'North')
(2, '2024-01-02', 'Product2', 200, 'South')
(3, '2024-01-03', 'Product3', 150, 'West')
(4, '2024-01-04', 'Product4', 400, 'East')
(5, '2024-01-05', 'Product5', 350, 'North')

In [21]:
cursor.execute('''DELETE FROM sales
               WHERE region="West"''')

connection.commit()

In [22]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2024-01-01', 'Product1', 100, 'North')
(2, '2024-01-02', 'Product2', 200, 'South')
(4, '2024-01-04', 'Product4', 400, 'East')
(5, '2024-01-05', 'Product5', 350, 'North')

In [23]:
connection.close()