# In Built Data Structures of Python
- List
- Tuples
- Set
- Dictionary

## Lists
Lists are ordered mutable collection of items.
They can contain items of different data types

In [2]:
lst =[]
type(lst)

list

In [3]:
names = ['Satvik', 'Sawhney']
print(names)
print(type(names))

['Satvik', 'Sawhney']
<class 'list'>

In [4]:
# Elements are indexed in a list
print(names[0])
print(names[1])

# Len funciton - return length
len(names)

Satvik
Sawhney

2

In [5]:
## Accessing elements of a list
fruits = ['Apple', 'Orange', 'Banana', 'Watermelon', 'Berries', 'Kiwi']
for fruit in fruits:
    print(fruit)

Apple
Orange
Banana
Watermelon
Berries
Kiwi

In [6]:
for i in range(len(fruits)):
    print(fruits[i])

Apple
Orange
Banana
Watermelon
Berries
Kiwi

In [7]:
# List Methods

#append
fruits.append('Pineapple')
print(fruits)

['Apple', 'Orange', 'Banana', 'Watermelon', 'Berries', 'Kiwi', 'Pineapple']

In [8]:
# insert at an index
fruits.insert(1, 'Grapes')
print(fruits)

['Apple', 'Grapes', 'Orange', 'Banana', 'Watermelon', 'Berries', 'Kiwi', 'Pineapple']

In [9]:
# Remove
fruits.remove('Kiwi')
print(fruits)

['Apple', 'Grapes', 'Orange', 'Banana', 'Watermelon', 'Berries', 'Pineapple']

In [10]:
# Pop
popped_element = fruits.pop()
print(popped_element)
print(fruits)

Pineapple
['Apple', 'Grapes', 'Orange', 'Banana', 'Watermelon', 'Berries']

In [11]:
# Index of

index = fruits.index('Apple')
print(index)

0

In [12]:
# count - duplicates

count = fruits.count('Banana')
print(count)

1

In [13]:
# sort - lexographical order for alphabets and ascending order in numbers
l = [5,4 ,3, 9, 6, 2, 1]
l.sort()
fruits.sort()
print(l)
print(fruits)

[1, 2, 3, 4, 5, 6, 9]
['Apple', 'Banana', 'Berries', 'Grapes', 'Orange', 'Watermelon']

In [14]:
#reverse
l.reverse()
print(l)

[9, 6, 5, 4, 3, 2, 1]

In [15]:
l.clear()   # removes all items  of list
print(l)

[]

In [16]:
# List Slicing
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[::])
print(numbers[4::])
print(numbers[1:9])
print(numbers[9:2:-3])
print(numbers[:5])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9]
[10, 7, 4]
[1, 2, 3, 4, 5]

In [17]:
# enumerate
for i, fruit in enumerate(fruits):
    print(i, fruit)

0 Apple
1 Banana
2 Berries
3 Grapes
4 Orange
5 Watermelon

### List Comprehension
Basic Syntax        [ expression for item in iterable ]
With Condition      [ expression for item in iterable if condition ]
Nested              [ expression for item1 in iterable1 for item2 in iterable2 ]

In [18]:
# List Comprehension

new_list = []
for x in range(10):
    new_list.append(x*x)
print(new_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
# [operation range/iteration]
com_list = [ x**2 for x in range(10)]
print(com_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
new_com_list = [ x**2 for x in range(20) if x%2 ==0 ]
print(new_com_list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [21]:
# Nested List comprehension
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']

pair = [ [i, j] for i in list1 for j in list2 ]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [22]:
list1 = [1, 2, 3, 4]
list2 = [1, 2, 3, 4 ]

pair = [ [i, j] for i in list1 for j in list2 if i == j]
print(pair)

[[1, 1], [2, 2], [3, 3], [4, 4]]

In [23]:
# Function calls
words = ['hello', 'world', 'python', 'list', 'comprehension']
lengths = [ len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]

## Tuples
Tuples are ordered collection of items that are immutable. They are similar to lists but can't be modified.

In [24]:
# Creating a tuple
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [25]:
empty_list_2 = list()
empty_tuple_2 = tuple()

In [26]:
list_num = [1,2 ,3 , 4, 5]
numbers = tuple(list_num)
print(numbers)

(1, 2, 3, 4, 5)

In [27]:
numberL = list(numbers)
print(numberL)

[1, 2, 3, 4, 5]

In [28]:
# Indexing and Slicing is similar to lists
print(numbers[0])
print(numbers[3])

1
4

In [29]:
print(numbers[::-1])
print(numbers[1:4])

(5, 4, 3, 2, 1)
(2, 3, 4)

In [30]:
## Tuple Operation

mixed_tuple = (1, 'Hello', 3.14)
print(mixed_tuple)

#Addition Operation in tuples
print(mixed_tuple+numbers)

(1, 'Hello', 3.14)
(1, 'Hello', 3.14, 1, 2, 3, 4, 5)

In [31]:
mixed_tuple * 3

(1, 'Hello', 3.14, 1, 'Hello', 3.14, 1, 'Hello', 3.14)

In [32]:
numbers * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [33]:
numberL * 3 # Lists too

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [35]:
# Immutable nature of tuples - elements can't be changed directly through indeices
print(numbers[0])
# numbers[0] = 2 this throws error - # Immutable nature of tuples - elements can't be changed directly through indeices

1

In [36]:
#Accessing tuple elements
for i in range(len(numbers)):
    print(numbers[i])
numbers

1
2
3
4
5

(1, 2, 3, 4, 5)

In [44]:
# Tuple Methods

numbers
num = tuple([6])

In [45]:
numbers + num

(1, 2, 3, 4, 5, 6)

In [46]:
print(numbers.count(1))
print(numbers.index(2))

1
1

In [47]:
#Packing and Unpacking a tuple
packed_tuple = 1, "hello_world", 3.14
print(packed_tuple)

(1, 'hello_world', 3.14)

In [48]:
#Un packing a tuple
a, b, c = packed_tuple
print(a)
print(b)
print(c)

1
hello_world
3.14

In [53]:
#un packing with *
numbers += num

first, *middle, last = numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 6, 6]
6

## Sets
Sets only take unique elements and no duplicates. They are unordered

In [54]:
#Creating sets
my_set = { 1, 2, 3, 4, 5}
print(my_set, type(my_set))

{1, 2, 3, 4, 5} <class 'set'>

In [59]:
my_empty_set = set([1, 1, 1 ,1 ])
print(my_empty_set)
print(type(my_empty_set))

{1}
<class 'set'>

In [60]:
# Basic Operation

#Adding and removing from sets

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [65]:
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, (6, 7), 7}

In [66]:
my_set.remove((6, 7))
print(my_set)

{1, 2, 3, 4, 5, 7}

In [70]:
my_set.discard(6)
print(my_set)

#my_set.remove(6) # Will give error if element is not a member

{1, 2, 3, 4, 5, 7}

In [71]:
# POP
ele = my_set.pop()
print(ele, my_set)

1 {2, 3, 4, 5, 7}

In [72]:
# Clear
print(my_empty_set)
my_empty_set.clear()
print(my_empty_set)

{1}
set()

In [74]:
#Set membership

print(3 in my_set)
print(6 in my_set)

True
False

In [77]:
# Mathematical Operation
set2 = {1, 2, 3, 4, 5, 6}
set1 = { 9, 8,7,  6, 5, 4, 3, 2}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [78]:
intersect_set = set1.intersection(set2)
print(intersect_set)

{2, 3, 4, 5, 6}

In [80]:
diff_set = set1.difference(set2)
print(diff_set)

{8, 9, 7}

In [82]:
#Intersection Update
set1.intersection_update(set2)
print(set1)

{2, 3, 4, 5, 6}

In [83]:
set1.symmetric_difference(set2)

{1}